*, *::before, *::after{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    margin-top: 2rem;
    
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(233, 247, 253);
}
.calculator-grid > button:hover, 
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, .75);
}

.span-two{
    
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(133, 207, 207, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-break: break-all;
}
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    position: absolute;
    top: 5%;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0;
}
